

  <h1>Stupid coaching</h1>

  <h3>Ask your coach anything!</h3>

  <br>

  <form class="form-inline" action="/answer">
    <input class="form-control" type="text" name="question" placeholder="Write here...">
    <input class="btn btn-primary mb-2" type="submit" value="Ask!">
  </form>

